* {
  box-sizing: border-box;   
}
/* * => reset Css */
.wrapper {
  width: auto;
  margin: auto;
}
header{
  position: sticky;
  top:0;
  padding: 5px;
  background-color: #cae8ca;
  z-index: 1;
}
.simple {
  height: 85px;
}
.simple li {
  width: 450px;
  padding: 30px 10px;
  margin: auto;
  list-style-type: none;
}
.simple li a {
  flex-direction: row;
  /* sắp xếp flex-box : row từ trái qua phải */
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 1em;
  text-decoration: none;
  margin-left: 20px;
  padding: 2px;
}
a:link{
  color: rgb(6, 54, 10);
}
a:hover{
  color: rgb(253, 241, 174);
}
a:visited{
  color: rgb(12, 151, 12);
}
.banner {
  display: flex;
  justify-content: center; /* canh đều các thành phần gồm các gia trị bên trong*/
  padding-top: 50px;
  padding-bottom: 50px;
  position: relative;
}
.banner > div {
  height: 500px;
  width: 400px;
  margin-right: 20px;
  border-radius: 30px;
}
.picture1 {
  background-color: darkolivegreen;
  position: relative;
  top: 0;
}
.picture1 > div {
  float:flex;
  padding-left: 15px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: larger;
  color: aliceblue;
  box-sizing: border-box;
}
.box01 {
  background-color: rgb(17, 16, 16);
  border-radius: 200px;
  width: 150px;
  height: 150px;
  position: absolute;
  top: -20px;
  right: 20px;
}
.box02{
position: absolute;
 bottom: 80px;
 border-color: rgb(238, 234, 229);
}
.button01{
  border-radius: 40px;
  height: 45px;
  width: 130px;
  border: none;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: large;
}
.button01:hover{
  background-color: rgb(33, 88, 19);
}
.button02{
  background-color: rgb(209, 235, 183); border-radius: 40px; height: 50px; width: 140px;
  border: none;
}
.button02:hover{
  background-color: rgb(108, 143, 74);
  font-family: 'Times New Roman', Times, serif;
}
.picture2 {
  background-image: url(images/im02.jpg);
}

footer {
  background-color: rgb(9, 106, 9);
  height: 300px;
  text-align: center;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: xx-large;
  justify-content: center;
  text-decoration: underline;
  padding-top: 100px;
  position: relative;
  
}
.grid-container {
  display: grid;
  grid-template-columns: 300px 300px;
  grid-template-rows: 450px 450px;
  gap: 30px;
  background-color: #f1f4f7;
  padding: 20px;
  justify-content: center;
}
.grid-container >div{
  background-color: rgba(151, 201, 214, 0.199);
  border-radius: 40px;
  text-align: center;
  padding: 20px ;
  font-size: 30px;
}
.banner02{
  padding-top: 10px;
  background-color: black;
  height: 350px;
  text-align: center;
}
.grid-banner{
  display: grid;
  grid-template-columns: 450px 450px;
  grid-template-rows: 480px 480px;
  gap: 30px;
  background-color: #f1f4f7;
  padding: 20px;
  justify-content: center;
}
.grid-banner >div{
  border-radius: 40px;
  text-align: center;
}
input[type=text]{
  width: 300px;
  height: 40px;
  padding: 12px 10px;
  margin: 8px 8px;
  border-radius: 20px;
  background-color: #f1f4f7;
  border: none;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
input:focus {
  outline: none;
  border: none;
}
input[type=submit]{
  width: 100px;
  height: 40px;
  padding: 12px 10px;
  margin: 8px 8px;
  display: inline-block;
  border-radius: 20px;
  box-sizing: border-box;
  background-color: rgb(117, 152, 161);
  color: #fcfdfc;
  border:none;
}
input[type=submit]:hover{
  background-color: rgb(43, 105, 59);
}
.box04{
  position: relative;
  background-color: darkgreen;
}
.box4 >div{
  float:flex;
  padding-left: 15px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: larger;
  color: rgb(2, 30, 54);
  box-sizing: border-box;
}
.oval{
  background-color: rgb(190, 34, 34);
  border-radius: 200px;
  width: 150px;
  height: 150px;
  position: absolute;
  top: -20px;
  right: 20px;
}
.grid-box05{
  display: grid;
  grid-template-columns: 70px 300px;
  grid-template-rows: 100px 100px 100px;
  border-style: dashed;
  gap:20px;
  justify-content: center;
  padding: 40px 20px;
}
.item01{
  padding-top: 20px;
  border-radius: 70px;
  height: 70px;
  background-color: black;
}
.phone{
  color: rgb(169, 223, 177);font-size: 3em; padding-left: 8px;
}
.phone:hover{
  color: rgb(19, 88, 36);
}

/*page landing*/
.banner-landing{
background-image: url(images/im03.jpg);
height: 800px;
width: 800px;
border-radius: 60px;
position: relative;
margin:10px ;

}
.box01-landing{
  position: absolute;
  top: 20px;
  left: 20px;
  background-color:#fcfdfc;
  border-radius: 90px;
  height: 180px;
  width: 180px
}
.box02-landing{
    float: left;
    position: absolute;
    bottom: 80px;
    left:20px;
    animation: mymove 5s infinite;
    animation-delay: 2s;
}
@keyframes mymove {
  from {left: 0px;}
  to {left: 200px;}
}
.product{
  display: flex;
  justify-content: center;
  flex-direction: row;
}